<p>
    <div>Customer feedback</div>
    <div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Name</div>
            <div style="display: inline-block;">{{name}}</div>
        </div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Email</div>
            <div style="display: inline-block;">{{email}}</div>
        </div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Message</div>
            <div style="display: inline-block;">{{message}}</div>
        </div>
        
    </div>    
</p>