<p>
    <div style="font-size: 14px; font-weight: bold">New Customer</div>
    <div style="margin-top: 10px; font-weight: bold; font-size: 13px">Customer Info</div>
    <div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Full Name</div>
            <div style="display: inline-block;">{{fullName}}</div>
        </div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Gender</div>
            <div style="display: inline-block;">{{gender}}</div>
        </div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Email</div>
            <div style="display: inline-block;">{{email}}</div>
        </div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Phone</div>
            <div style="display: inline-block;">{{phone}}</div>
        </div>        
    </div>
    <div style="margin-top: 10px; font-weight: bold; font-size: 13px">House & Room Info</div>
    <div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">House</div>
            <div style="display: inline-block;">{{houseName}}</div>
        </div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">RoomType</div>
            <div style="display: inline-block;">{{roomType}}</div>
        </div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Date Range</div>
            <div style="display: inline-block;">{{dateRange}}</div>
        </div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Number of Persons</div>
            <div style="display: inline-block;">{{numPersons}}</div>
        </div>
        <div style="margin: 5px 0;">
            <div style="display: inline-block; width: 250px">Number of Rooms</div>
            <div style="display: inline-block;">{{numRooms}}</div>
        </div>
    </div>
</p>